<div id="poke_container" class="poke-container" >

    <h1 id="title">Pokedex</h1>
    <div style="width: 100%;" >
    <button id="loadbtn" mat-button (click)="getData()" >Load</button>
    </div>
    <mat-form-field class="search-bar">
        <mat-icon style="margin-right: 10px;" matPrefix>search</mat-icon>
        <input matInput type="search" placeholder="Search Pokemon" class="search-input" name="name" [(ngModel)]="name"  (ngModelChange)="Search()" >
    </mat-form-field>

</div>

<div class="pokedex">
    <mat-card *ngFor="let pokemon of pokemons" class="card">

        <mat-card-title>
            {{ pokemon.id }}.  {{ pokemon.name | titlecase }}
        </mat-card-title>

        <mat-card-content>
            <button mat-button><img style="height: 200px; width: 200px;" (click)="openDialog(pokemon)" src="{{ pokemon.image }}"></button>
        </mat-card-content>

        <mat-card-content>
            {{ pokemon.type }}
        </mat-card-content>

    </mat-card>
</div>

